<header class="header .container m-3">
  <nav class="header-nav navbar container">
    <span class= "nav .navbar-brand"><a href="#"
      ><img
        class="header-nav--logo"
        src="https://res.cloudinary.com/akilah/image/upload/v1613512847/j/logo-dark.png"
        alt="" /></a
  ></span>
    <span class="header-nav--items nav justify-content-end">
      <a class="header-nav--items" routerLink="/home">Our Company</a>
      <a class="header-nav--items" routerLink="/locations">Locations</a>
      <a class="header-nav--items" routerLink="/contactts">Contact</a>
    </span>
  </nav>
</header>
