

.header-nav--logo {
  width: 220px;
  height: 27px;
}

.header-nav--items {
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  color: #1d1c1e;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
