
<footer class=" container-fluid fixed-bottom">
  <section class=" container text-box--mid">
    <h2>Let's talk about your project</h2>
    <p>Ready to take it to the next level? Contact us today and find out how our expertise can help 
  your business grow.</p>
  <button>Get In Touch</button>
  </section>
  <nav class="header-nav--items ">
  <span><a href="#"><img src="" alt="">Brand</a></span>
  <a href="#">Our Company</a>
  <a href="#">Locations</a>
  <a href="">Contact</a>
  
</nav>
<hr class="hr-color">
<section></section>
</footer>