.text-box--mid{
    background-color: #E7816B;
    color:#fff;
}
footer{
 background-color: #1D1C1E;   
}
.header-nav--items a{
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  color:#fff;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.hr-color {
    color:white;
}