<footer class="container-fluid fixed-bottom">
  <section class="container text-box--mid">
    <h2>Let's talk about your project</h2>
    <footer class="container-fluid fixed-bottom">
      <section class="container text-box--mid">
        <h2>Let's talk about your project</h2>
        <p>Ready to take it to the next level? Contact us today and find out how our expertise can help your business grow.</p>
        <button>Get In Touch</button>
      </section>
     <nav class="header-nav navbar container">
    <span class= "nav .navbar-brand"><a href="#"
      ><img
        class="header-nav--logo"
        src="https://res.cloudinary.com/akilah/image/upload/v1613512655/j/logo-light.png"
        alt="" /></a
  ></span>
    <span class="header-nav--items nav justify-content-end">
      <a class="header-nav--items" routerLink="/home">Our Company</a>
      <a class="header-nav--items" routerLink="/locations">Locations</a>
      <a class="header-nav--items" routerLink="/contactts">Contact</a>
    </span>
  </nav>
      <hr class="hr-secondary" />
      <section>
        <div class="d-flex justify-content-between footer--location-text-box">
          <div>
            <p>
              Designo Central Office
            </p>
            <p>
              3886 Wellington Street
            </p>
            <p>
              Toronto, Ontario M9C 3J5
            </p>
          </div>
          <div>
            <p>
              Contact Us (Central Office)
            </p>
            <p>
              M : contact@designo.co
            </p>
            <p>
              P : +1 253-863-8967
            </p>
          </div>
        </div>
        <div></div>
      </section>
    </footer>
  </section>
</footer>

