<footer class="container-fluid fixed-bottom">
  <section class="footer-section box text-box--mid">
    <div>
      <h2>Let's talk about your project</h2>
      <p>
        Ready to take it to the next level? Contact us today and find out how
        our expertise can help your business grow.
      </p>
    </div>
    <button class="btn btn-light">Get In Touch</button>
  </section>
  <nav class="header-nav navbar container">
    <span class="nav .navbar-brand"
      ><a href="#"
        ><img
          class="header-nav--logo"
          src="https://res.cloudinary.com/akilah/image/upload/v1613512655/j/logo-light.png"
          alt="" /></a
    ></span>
    <span class="header-nav--items nav justify-content-end">
      <a class="header-nav--items" routerLink="/home">Our Company</a>
      <a class="header-nav--items" routerLink="/locations">Locations</a>
      <a class="header-nav--items" routerLink="/contactts">Contact</a>
    </span>
  </nav>
  <hr class="hr-secondary container" />
  <section class="container footer--location-text-box-contact">
    <div class="row d-flex pt-4 footer--location-text-box">
      <div class="col-4">
        <p>Designo Central Office</p>
        <p>
          <span>3886 Wellington Street</span>
        </p>
        <p>Toronto, Ontario M9C 3J5</p>
      </div>
      <div class="col-4">
        <p>Contact Us (Central Office)</p>
        <p>M : contact@designo.co</p>
        <p>P : +1 253-863-8967</p>
      </div>
      <div class="col-4 footer--icon-bar align-items-end">
        <a href="#"
          ><img src="../../assets/shared/desktop/icon-facebook.svg" alt=""
        /></a>
        <a href="#"
          ><img src="../../assets/shared/desktop/icon-youtube.svg" alt=""
        /></a>
        <a href="#"
          ><img src="../../assets/shared/desktop/icon-twitter.svg" alt=""
        /></a>
        <a href="#"
          ><img src="../../assets/shared/desktop/icon-pinterest.svg" alt=""
        /></a>
        <a href="#"
          ><img src="../../assets/shared/desktop/icon-instagram.svg" alt=""
        /></a>
      </div>
    </div>
  </section>
</footer>
