@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");

.text-box--mid {
  background-color: #e7816b;
  color: #fff;
}
.header-nav--logo {
  width: 220px;
  height: 27px;
}
footer {
  background-color: #1d1c1e;
  color: #fff;
  padding-bottom: 6rem;
}
.header-nav--items a {
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: 2px;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.hr-secondary {
  color: #979797;
}
.footer--location-text-box {

  font-family: Jost;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  line-height: .75em;
}
.footer--location-text-box-paragragh {
  font-weight: 200;
}