@mixin navItems {
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin text-box {
  background-color: $primary-ph;
  color: $secondary-gry;
  width: 1111px;
  height: 292px;
  border-radius: 15px;
  background-color: #e7816b;
  color: #fff;
}
