//colors
$primary-ph: #E7816B;
$primary-blk:#1D1C1E;
$primary-gry:#333136;
/*********************/
$secondary-ph:#FFAD98;
$secondary-gry:hsl(210, 17%, 95%);
/*********************/
$ternary-ph:#FDF3F0;

//font-size
$primary-title:48px;
$primary-title_sm:36px;
/*********************/
$secondary-title:40px;
$secondary-title_sm:28px;
/*********************/
$ternary-title:20px;
/*********************/
$primary-body:16px;
$secondary-body:15px;

// Larger Veiwport Sizes
$lg-sz:1111px;